:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

p {
    font-size: 14px;
}

@font-face {
    font-family: Montserrat;
    src: url(../_font/Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(../_font/Montserrat-VariableFont_wght.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(../_font/Montserrat-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: Fraunces;
    src: url(../_font/Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Fraunces;
    src: url(../_font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Fraunces;
    src: url(../_font/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-style: italic;
}

.icon-cart-img {
    width: 15px;
    height: 15px;
}

.font-fraunces {
    font-family: Fraunces, 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.font-montserrat {
    font-family: Montserrat, 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.top-image {
    background-image: url('../images/image-product-mobile.jpg');
    background-color: var(--white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 100%;
    max-height: 100%;
}

.top-image-desktop {
    display: none;
}

.top-image-mobile {
    display: block;
}

.btn-add-to-cart {
    color: var(--white);
    background-color: var(--dark-cyan);
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-color: var(--dark-cyan);
}

button:focus {
    outline: 0;
}

.container {
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cream);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.btn:hover {
    text-decoration: none;
}

.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.content {
    padding: 20px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.price-container {
    padding: 18px 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: var(--dark-cyan);
}

.price-striked {
    text-decoration: line-through;
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

.dark-grayish-blue {
    color: var(--dark-grayish-blue);
}

.perfume {
    letter-spacing: 6px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.a-floral {
    line-height: 1.6;
}

.fs-36 {
    font-size: 36px;
}

@media (min-width: 1440px) {

    .top-image {
        background-image: url(/images/image-product-desktop.jpg);
    }

    .top-image-desktop {
        display: block;
        border-top-left-radius: 8x;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 8px;
        max-width: 300px;
    }

    .top-image-mobile {
        display: none;
    }

    .container {
        flex-direction: row;
    }

}